/* ===== GERAL ===== */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #e4ddd7;
    color: #030100;
}

/* ===== CABEÇALHO ===== */
header {
    background: #fdf8f4;
    padding: 25px;
    text-align: center;
    border-bottom: 3px solid #E86A2F;
}

header img {
    width: 140px;
    margin-bottom: 10px;
}

/* ===== MENU ===== */
nav {
    background: #FFF;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #e0d8d0;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #6A3A22;
    font-weight: bold;
    font-size: 17px;
}

nav a:hover {
    color: #E86A2F;
}

/* ===== CONTAINER ===== */
.container {
    background: #FFF;
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    border-left: 6px solid #E86A2F;
}

.container img {
    width: 100%;
    border-radius: 12px;
    margin-top: 20px;
}

/* ===== BOTÕES ===== */
button {
    background: #E86A2F;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #C24E3A;
}

/* ===== INPUTS ===== */
input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #C8BEB5;
    margin-top: 5px;
}

textarea {
    resize: none;
}

/* ===== LISTAS ===== */
ul li {
    margin: 10px 0;
    background: #f1e9e4;
    padding: 10px;
    border-radius: 8px;
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 700px) {

    nav a {
        display: block;
        padding: 10px;
    }

    header img {
        width: 95px;
    }

    .container {
        padding: 20px;
        width: 92%;
    }

    h1 {
        font-size: 22px;
    }
}